.ludo-blue .dhtml-chess-view-notation-panel .ludo-body{
    background-color:#FFF;
}
.notation-chess-move {
    cursor: pointer;
    color: #354150;
}

span.notation-chess-move-highlighted {
    background-color: #354150;
    color: #FFF;
}

div.dhtml-chess-notation-panel {
    cursor: default;
}

div.dhtml-chess-notation-panel div{
    font-size:14px;
    line-height:140%;
}

div.dhtml-chess-notation-panel div.ludo-body {
    padding: 5px;
}

div.ludo-grid-data-cell {
    font-size: 12px !important;
}

.notation-branch-depth-0 {
    font-weight: bold;
}

.notation-comment {
    color: blue;
    font-weight: normal;
    font-style: italic;
}

.dhtml-chess-move-number, .notation-result{
    font-size:0.8em;
    font-weight:bold;
    color:#000;
}

.notation-chess-move-highlighted .notation-comment {
    background-color: transparent;
    text-decoration: underline;
}

.notation-branch-depth-1 {
    font-weight: normal;
    display: block;
    margin-left: 10px;
}

.notation-branch-depth-2 {
    font-weight: normal;
}

.notation-branch-depth-3 {
    font-weight: normal;
}

div.dhtml-chess-notation-panel .ludo-body {
    overflow-y: auto;
}

.notation-chess-move{
    display:inline-block;
    padding:2px;
    margin-right:4px;
}
.ludo-twilight .notation-chess-move {
    color: #aeb0b0;
}

span.notation-chess-move-highlighted{
    border-radius: 3px;
}

.ludo-twilight span.notation-chess-move-highlighted {
    background-color: #aeb0b0;
    color: #444;
    border-radius: 3px;
}

.dhtml-chess-move-group {
    display:inline-block;
    padding-right:4px;
}
