.dhtml-chess-button-bar-gray{
    width:300px;
    height:25px;
    margin:0 auto;
}
.dhtml-chess-button-container{
    margin: 0 auto;
    position:relative;
}

.dhtml-chess-button-separator{
    position:absolute;
}

div.dhtml-chess-button{
    position:absolute;
    cursor: pointer;
}

div.dhtml-chess-button-bar-right-edge{
    width:14px;
    height:25px;
    position:absolute;
    right:0px;
    z-index:5;

}
.dhtml-chess-button-bar-gray .dhtml-chess-button{
    width:25px;
    height:25px;
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-separator{
    width:1px;
    height:25px;
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-previous{
    background-image:url(../../images/buttonbar/blue/previous.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-next{
    background-image:url(../../images/buttonbar/blue/next.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-play{
    background-image:url(../../images/buttonbar/blue/play.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-start{
    background-image:url(../../images/buttonbar/blue/start.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-end{
    background-image:url(../../images/buttonbar/blue/end.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-flip{
    background-image:url(../../images/buttonbar/blue/flip.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-pause{
    background-image:url(../../images/buttonbar/blue/pause.png);
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-previous.dhtml-chess-button-over{
    background-image:url(../../images/buttonbar/blue/previous-on.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-next.dhtml-chess-button-over{
    background-image:url(../../images/buttonbar/blue/next-on.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-play.dhtml-chess-button-over{
    background-image:url(../../images/buttonbar/blue/play-on.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-start.dhtml-chess-button-over{
    background-image:url(../../images/buttonbar/blue/start-on.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-end.dhtml-chess-button-over{
    background-image:url(../../images/buttonbar/blue/end-on.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-flip.dhtml-chess-button-over{
    background-image:url(../../images/buttonbar/blue/flip-on.png);
}
.dhtml-chess-button-bar-gray .dhtml-chess-button-pause.dhtml-chess-button-over{
    background-image:url(../../images/buttonbar/blue/pause-on.png);
}


.dhtml-chess-button-bar-gray .dhtml-chess-button-pause.dhtml-chess-button-disabled{
    background-image:url(../../images/buttonbar/blue/pause-disabled.png);
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-play.dhtml-chess-button-disabled{
    background-image:url(../../images/buttonbar/blue/play-disabled.png);
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-previous.dhtml-chess-button-disabled{
    background-image:url(../../images/buttonbar/blue/previous-disabled.png);
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-end.dhtml-chess-button-disabled{
    background-image:url(../../images/buttonbar/blue/end-disabled.png);
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-next.dhtml-chess-button-disabled{
    background-image:url(../../images/buttonbar/blue/next-disabled.png);
}

.dhtml-chess-button-bar-gray .dhtml-chess-button-start.dhtml-chess-button-disabled{
    background-image:url(../../images/buttonbar/blue/start-disabled.png);
}
