.ludo-chess-button-bar-gray{
    width:300px;
    height:25px;
}
.ludo-chess-button-container{
    margin: 0 auto;
    position:relative;
}

.ludo-chess-button-separator{
    position:absolute;
}

div.ludo-chess-button{
    position:absolute;
    cursor: pointer;
}

div.ludo-chess-button-bar-right-edge{
    width:14px;
    height:25px;
    position:absolute;
    right:0px;
    z-index:5;

}
.ludo-chess-button-bar-gray .ludo-chess-button{
    width:25px;
    height:25px;
}

.ludo-chess-button-bar-gray .ludo-chess-button-separator{
    width:1px;
    height:25px;
}

.ludo-chess-button-bar-gray .ludo-chess-button-previous{
    background-image:url(../../images/buttonbar/light-gray/previous.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-next{
    background-image:url(../../images/buttonbar/light-gray/next.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-play{
    background-image:url(../../images/buttonbar/light-gray/play.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-start{
    background-image:url(../../images/buttonbar/light-gray/start.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-end{
    background-image:url(../../images/buttonbar/light-gray/end.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-flip{
    background-image:url(../../images/buttonbar/light-gray/flip.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-pause{
    background-image:url(../../images/buttonbar/light-gray/pause.png);
}

.ludo-chess-button-bar-gray .ludo-chess-button-previous.ludo-chess-button-over{
    background-image:url(../../images/buttonbar/light-gray/previous-on.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-next.ludo-chess-button-over{
    background-image:url(../../images/buttonbar/light-gray/next-on.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-play.ludo-chess-button-over{
    background-image:url(../../images/buttonbar/light-gray/play-on.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-start.ludo-chess-button-over{
    background-image:url(../../images/buttonbar/light-gray/start-on.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-end.ludo-chess-button-over{
    background-image:url(../../images/buttonbar/light-gray/end-on.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-flip.ludo-chess-button-over{
    background-image:url(../../images/buttonbar/light-gray/flip-on.png);
}
.ludo-chess-button-bar-gray .ludo-chess-button-pause.ludo-chess-button-over{
    background-image:url(../../images/buttonbar/light-gray/pause-on.png);
}


.ludo-chess-button-bar-gray .ludo-chess-button-pause.ludo-chess-button-disabled{
    background-image:url(../../images/buttonbar/light-gray/pause-disabled.png);
}

.ludo-chess-button-bar-gray .ludo-chess-button-play.ludo-chess-button-disabled{
    background-image:url(../../images/buttonbar/light-gray/play-disabled.png);
}

.ludo-chess-button-bar-gray .ludo-chess-button-previous.ludo-chess-button-disabled{
    background-image:url(../../images/buttonbar/light-gray/previous-disabled.png);
}

.ludo-chess-button-bar-gray .ludo-chess-button-end.ludo-chess-button-disabled{
    background-image:url(../../images/buttonbar/light-gray/end-disabled.png);
}

.ludo-chess-button-bar-gray .ludo-chess-button-next.ludo-chess-button-disabled{
    background-image:url(../../images/buttonbar/light-gray/next-disabled.png);
}

.ludo-chess-button-bar-gray .ludo-chess-button-start.ludo-chess-button-disabled{
    background-image:url(../../images/buttonbar/light-gray/start-disabled.png);
}
