.dhtml-chess-board-label-inside .dhtml-chess-board-label-file {
    text-align: right;
    padding-right: 4px
}

.dhtml-chess-board-label-inside .dhtml-chess-board-label-rank {
    padding-left: 2px;
    padding-top: 2px
}

.chess-board-label-inside span {
    padding-left: 2px;
    padding-right: 2px
}

.dhtml-chess-square-white {
    background-image: none !important;
    background-color: #e7caa3

}

.dhtml-chess-square-black {
    background-image: none !important;
    background-color: #b48059

}

.dhtml-chess-board-label-ranks-container, .dhtml-chess-board-label-files-container {
    color: #fffffb
}

div.dhtml-chess-notation-panel, span.notation-branch, .notation-chess-move {
    color: #4E342E
}

/** Highlighted notation styles */
span.notation-chess-move-highlighted {
    background-color: #b48059;
    color: #FFF;
    border-radius: 3px
}

.dhtml-chess-square-highlight {
    background-color: #598db5;
    border-width: 0
}

.ludo-view {
    background-color: transparent
}

.dhtml-chess-view-metadata-game div.ludo-body {
    color: #333
}

body.ludo-twilight {
    background-color: transparent
}

.ludo-form-button .ludo-body {
    border: 1px solid #9c6f4e;
    background-color: #b58159;
    color: #fff
}

.ludo-form-button div.ludo-form-button-over {
    border: 1px solid #694b34
}

/* Button click style */
.ludo-form-button div.ludo-form-button-down {
    background-color: #9c6f4e;
    color: #FFF;
    border: 1px solid #9c6f4e
}

div.ludo-window {
    background-color: #b58159
}


div.ludo-body {
    color: #444
}

div.ludo-window {
    border:1px solid #9c6f4e;
}
div.ludo-window >.ludo-body{
    padding:3px;
    color: #FFF !important;
}

