.dhtml-chess-board {
    border: 1px solid #f4d199
}

.chess-rank-label-odd, .chess-file-label-even {
    color: #f6cc96
}

.chess-rank-label-even, .chess-file-label-odd {
    color: #f6cc96
}

.notation-chess-move {
    color: #333
}

span.notation-chess-move-highlighted {
    background-color: #380a06;
    color: #FFF;
    border-radius: 3px
}

.dhtml-chess-square-highlight {
    background-color: #380a06;
    border-width: 0
}