.dhtml-chess-board {
    border: 1px solid #daac78
}

div.dhtml-chess-notation-panel, span.notation-branch, .notation-chess-move {
    color: #000;
    line-height:150%;
}

span.notation-chess-move-highlighted {
    background-color: #555 ;
    color: #FFF ;
    border-radius: 3px
}

.dhtml-chess-square-highlight {
    background-color: #555 ;
    border-width: 0
}

.ludo-grid-Grid div.ludo-active-record {
    font-weight: bold ;
    background-color: #DDD;
    color:#000;

}
.dhtml-chess-notation-last-move{
    border:1px solid #333;
    border-radius:999px;
}